
    /*
	LAYOUT STYLES
*/
/*
	row block
*/
.row {
	width: 100%;
	box-sizing: border-box;
	padding: 20px;

	/*min-height: 300px;*/
	/*border: 1px solid red;*/
}

.row__container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;

	box-sizing: border-box;
	/*min-height: 300px;*/
	/*border: 1px solid black;*/
}

/*
	column block
*/

.columns {
	display: flex;
}

.columns__thirds {
	width: 33.33333%;
	box-sizing: border-box;
	border-right: 1px solid rgba(0,0,0,.15);

	min-height: 300px;
}

.columns__thirds:last-child {
	border-right: 1px solid transparent;
}

/*
	generic flex-box block
*/

.flex-box {
	display: flex;
}

.flex-box--row {
	flex-direction: row;
}

.flex-box--wrap {
	flex-wrap: wrap;
}

.flex-box__end {
	align-self: flex-end;
}

/*
	GENERAL STYLES
*/

html {
	font-size: 10px;
	/*font-family: font-family: 'Source Sans Pro', sans-serif;*/
}

a {
	text-decoration: none;
}
/*
	text-block block
*/

.text-block {
	padding: 20px;
}

.text-block__header {
	font-family: 'Merriweather', serif;
	font-weight: bold;
	font-size: 2.5rem;
	line-height: 5rem;
}

.text-block__content {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2rem;
	line-height: 3rem;
}

/*
	button block
*/

.button {
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset;
	padding: 12px;
	background-color: rgb(198,198,198);
	font-family: Oswald, sans-serif;
	font-size: 2rem;
	line-height: 3rem;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

.button--link {
	text-decoration:none;
	color: rgb(0,0,0);
}

/* Header styles */

.header {
	border-bottom: solid .5rem yellow;
	background-color: rgb(0,0,0);
	padding: 20px;
}

.header__link {
	color:yellow;
	font-size: 3rem;
	font-family: Merriweather, serif;
}


ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
	display: inline;
	color: white;
	text-decoration: none;
} 

a {
	color: white;
}

a:hover {
	color: yellow;
}

.nav {
	
	display: inline;
	font-size: 1.75rem;
	height: 100%;
	float: right;
}

.clearfix {
	clear:both; 
}

.nav__column--link {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

.nav__column--link--end { 
	font-family: 'Source Sans Pro', sans-serif;
}

.subheader {
    font-family: 'Merriweather', serif;
    text-align: center;
    margin: 0;
    padding: 3rem 5%;
    font-size: 2.6rem;
    line-height: 1rem;
    font-style: italic;
    background: #C6C6C6;
    border-top: 1px solid #AAA
}

.subheader del { 
	color: #999;
}
.subheader ins {
	text-decoration: none;
    border-bottom: 3px solid yellow;
}